.item-detail{
  background-color: red;
  &__message{
    width: 700px;
    margin: 8px auto;
    }
  }
  .message-content{
    padding: 24px;
    background-color: #fff;
    }
    .message-form{
      margin: 0;
      }
      .message-form p {
        margin: 8px 0 0;
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
        }
        .textarea-default {
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          width: 100%;
          font-size: 16px;
          box-sizing: border-box;
          margin: 1em 0;
          padding: .8em;
          border-radius: 1em;
          border: 2px solid #aaa;
          border-radius: 1em;
          }
          .message-submit {
            width: 100%;
            margin: 8px 0 0;
            font-size: 0;
            text-align: center;
            }
          .btn-gray {
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            }
          .btn-default {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            }