.pickupContainer{
  text-align: center;
  padding: 26px;
  box-sizing: border-box;
  h2.productHead{
  &__new-item{
    font-size: 24px;
    padding-top: 10px;
    a.new-item-link{
      color: $base_fontcolor;
      text-decoration: none;
    }
  }
}
.productLists{
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  height: max-content;
  .productList{
    background-color: white;
    display: inline-block;
}
}
    .productList:hover {
      opacity: .5;
    }
      .productList-img{
        position: relative;
        margin: 0;
        z-index: auto;
        img.new-item{
          width: 220px;
          height: 150px;
        }
      }
  .productList-body{
    text-align: left;
    line-height: 1.5;
    padding: 16px;
    h2.item-title{
      overflow: hidden;
      font-size: 16px;
    }
    &__detail{
      display: inline-block;
      display: flex;
      justify-content: space-between;
    }
    &__like{
      display: flex;
    }
  }
}