
  .likes_main_title{
    height: 50px;
    width: 80%;
    background-color: gray;
    margin: 0 auto;
    h1.like{
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      color: white;
    }
  }
  .likes_main_box{
      width: 100%;
      height: calc(100% -50px);
      overflow: scroll;
      background-color: lightsteelblue;
      margin: 0 auto;
      .likes_main_box_show{
        height: 100px;
        width: 100%;
        background-color:white;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        .likes_main_box_show_img{
          height: 60px;
          width: 60px;
          background-color: yellow;
          margin-left: 10px;
        }
        .likes_main_box_show_body{
          height: 60%;
          width: 80%;
          margin-left: 10px;
          background-color: lightseagreen;
          }
          .likes_main_box_show_body_name{
            height: 50%;
            width: 100%;
            background-color: lightsteelblue;
            font-size: 20px;
            font-weight: bold;
          }
          .likes_main_box_show_body_price{
            height: 50%;
            width: 100%;
            background-color: lightyellow;
          }
          .like_icon{
            height: 30px;
            width: 30px;
            background-color: greenyellow;
            line-height: 30px;
            margin-left:10px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: #d2d2d2;
        }
      }
  }