.single-container{
  height: 100vh;
  width: 100vw;
  .single-header{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2d2d2;
    a.header_title_a{
      height: 30%;
      width: 30%;
      display: flex;
      justify-content: center;
      img.header_img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .single-main{
    width: 100%;
    height:500px;
    background-color:#d2d2d2;
    display: flex;
    justify-content: center;
    .l-single-container{
      height: 100%;
      width: 60%;
      background-color: rebeccapurple;
      h2.l-single-head{
        height: 100px;
        width: 100%;
        background-color:#fff;
        display: inline-block;
        text-align: center;
        line-height: 100px;
      }
      .buy-content_buy-item{
        height: 150px;
        width: 100%;
        background-color: lightslategrey;
        .buy-content-inner{
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color:#fff;
          h3.buy-item-image{
            height: 70px;
            width: 70px;
            background-color: lime;
            img.order_img{
          }
        }
      }
          .buy-item-detail{
            width:180px;
            height: 70px;
            display: inline-block;
            text-align: center;
            background-color: #fff;
            p.buy-item-name{
              padding-top:5px;
              font-size: 18px;
              }
            p.buy-price-ja{
              font-weight: bold;
              padding-top: 5px;
            }
        }
      }
      .buy-content_buy-item2{
        width: 100%;
        height: 50%;
        background-color: mediumaquamarine;
        .price{
          height: 20%;
          width: 100%;
          display: flex;
          align-items: center;
        }
        .pay{
          height: 20%;
          width: 100%;
          background-color: mediumblue;
          display: flex;
          align-items: center;
        }
        .point{
          height: 20%;
          width:100%;
          background-color: mediumorchid;
          display: flex;
          align-items: center;
        }
        .buy{
          height: 40%;
          width: 100%;
          background-color: mistyrose;
          display: flex;
          align-items: center;
          justify-content: center;
          .buy_btn{
            height: 50%;
            width: 60%;
            background-color: oldlace;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .single-footer{
    width: 100%;
    height: 100%;
    background-color: #d2d2d2;
    display: inline-block;
    text-align: center;
    line-height: 100%;
    padding-top: 20px;
  }
}