-if !user_signed_in? 
  = render partial:"items/header1" 
-else
  = render partial:"items/header2"
.container
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li.side_li
          %a.side_a{href: "/"}
            トップページ
          %i.icon-arrow-right
        %li.side_li
          %a.side_a{href: "#"}
            お知らせ
          %i.icon-arrow-right
        %li.side_li
          %a.side_a{href: "#"}
            購入
          %i.icon-arrow-right
        %li.side_li
          %a.side_a{href: "#"}
            出品
          %i.icon-arrow-right
        %li.side_li
          %a.side_a{href: "#"}
            いいね一覧
          %i.icon-arrow-right
        %li.side_li
          %a.side_a{href: "#"}
            ユーザー編集
          %i.icon-arrow-right



  .l-content
    %section.mypage-user-icon
      .usericon
        %figure
          %image.icon_img{:src => "/usericon.png"}
        %h2.bold
          ユーザー名
        .mypage-number
          .hyouka
            評価
            %span.bold
            0  
          .show_items
            出品数
            %span.bold
            0
    .mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active
          %h3.tab
            %a{:href=> "#"}
              お知らせ
        %li.notactive
          %h3.tab
            %a{:href => "#"}
              やることリスト
      .tab-container
    .mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li.active
          %h3.tab
            %a.torihiki
              取引中
        %li.notactive
          %h3.tab
            %a.kako
              過去の取引
      .tab-content

= render partial:"items/appBanner"
= render partial:"items/footer"
%a.purchase{:href => "/items/new"}
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    %img.purchaseBtn__icon{src: "/icon_camera.png"}

