-if !user_signed_in? 
  = render partial:"items/header1" 
-else
  = render partial:"items/header2"
.container
= render partial:"items/appBanner"
= render partial:"items/footer"
%a.purchase{:href => "/items/new"}
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    %img.purchaseBtn__icon{:src =>"public/icon_camera.png"}

