.single-container
  .single-header
    %a.header_title_a{href: "#"}
      %img.header_img{src: "/logo.png"}
  .single-main
    %section.l-single-container
      %h2.l-single-head
        購入内容の確認
      %section.buy-content_buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.order_img
          .buy-item-detail
            %p.buy-item-name
              ニット帽 ホワイト白
            %p.buy-price-ja               
              %span
                ¥700-
              %span.item-shipping-fee
                (税込)送料込み
    %section.buy-content_buy-item2