.image {
  margin: 0 auto;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
  position: relative;
  &__main {
    .image__main__photo {
      width: 100%;
      vertical-align: bottom;
    }
  }
  .image__sub {
    line-height: 0;
    height: 120px;
    &__thumb {
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      cursor: pointer;
    &__photo {
      width: 60px;
      height: 60px;
      padding: 0;
      margin: 0；
    }
  }
    &__thumb:not(.active) {
      opacity: 0.6;
    }
  }
}