.image {
  margin: 0 auto;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;
  position: relative;
  .image__main {
    .image__main__photo {
      width: 100%;
      vertical-align: bottom;
    }
  }
  .image__sub {
    line-height: 0;
    height: 120px;
    .image__sub__thumb {
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
    .image__sub__thumb__photo {
      width: 60px;
      height: 60px;
      padding: 0;
      margin: 0ï¼›
    }
    .image__sub__thumb:not(.active) {
      opacity: 0.6;
    }
  }
}