.single-container{
  height: 100vh;
  width: 100vw;
  .single-header{
    height: 80px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #d2d2d2;
    a.header_title_a{
      height: 30%;
      width: 30%;
      img.header_img{
        height: 50px;
        margin-top: 15px;
      }
    }
  }
  .single-main{
    width: 100%;
    height:max-content;
    .l-single-container{
      margin: 0 auto;
      height: 100%;
      max-width: 400px;
      h2.l-single-head{
        text-align: center;
        margin: 40px 0;
      }
      .buy-content_buy-item{
        height: max-content;
        margin: 0 auto;
        .buy-content-inner{
          display: flex;
          justify-content: center;
          .buy-item-image{
            .order_img{
              height: 100px;
            }
          }
        }
        .buy-item-detail{
          margin-left: 50px;
          p.buy-item-name{
            font-size: 18px;
          }
          p.buy-price-ja{
            margin-top: 20px;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
      .buy-content_buy-item2{
        .price{
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          .order_price {
          }
        }
        .pay{
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          .card_info {
            text-align: right;
          }
        }
        .adress {
          margin-top: 60px;
          display: flex;
          justify-content: space-between;
          .send {
          }
          .adress_info {
            text-align: right;
          }
        }
        .buy{
          text-align: center;
          margin: 50px 0;
          .buy_btn{
            background-color: $base_fontcolor;
            padding: 5px 100px;
            color: white;
            font-size: 20px;

          }
        }
      }
    }
  }
  .single-footer{
    background-color: #d2d2d2;
    text-align: center;
    padding: 30px 0;
  }
}