.item-detail{
  padding-top: 10px;
  width:700px;
  margin: 0 auto;
  margin: 8px auto;
  background-color:white;
  &__message{
    padding:10px;
  }
  .message-content{
    padding: 24px;
    background-color: #fff;
    }
    .message-form{
      margin: 0;
      }
      p.comment-rule {
        margin: 8px 0 0;
        padding: 10px;
        font-size: 14px;
        background: #fff6de;
        text-align: left;
        }
        .textarea-default {
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          width: 100%;
          font-size: 16px;
          box-sizing: border-box;
          margin: 1em 0;
          padding: .8em;
          border-radius: 1em;
          border: 2px solid #aaa;
          border-radius: 1em;
          }
          .message-submit {
            width: 100%;
            margin: 8px 0 0;
            font-size: 0;
            text-align: center;
            }
          .btn-gray {
            background: $base_fontcolor;
            border: 1px solid  $base_fontcolor;
            color: #fff;
            }
          .btn-default {
            width: 40%;
            font-size: 18px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            font-size: 18px;
            border-radius: 100px;
            display: inline-block;
            }
}