@mixin border-color{
width: 40%;
line-height: 30px;
border: 1px solid #3CCACE;
color: #fff;
}
  .comment-rule{
    width: 700px;
    margin: 8px auto;
    padding-top: 10px;
    p.comment-rule{
      padding: 5px;
      font-size: 14px;
      text-align: left;
    }
  }
  .comment-wrapper{
    width: 700px;
    margin: 8px auto;
    background-color: #d2d2d2;
    padding: 24px;}
    .comments-history{
      .comments-box{
        height: max-content;
        height: 30px;
        padding: 24px;
        display: flex;
        .comments-box__nickname{
          overflow-wrap: break-word;
          width: 50px;
          }
        .comments-box__text{
        background-color: #fff;
        border-radius: 100px;
        width: 90%;
        font-size: 18px;
        text-align: left;
        border: 15px solid transparent;
        overflow-wrap: break-word;
        height: max-content;
        }
      }
    }
        .comment-form{
          margin: 10px;
          .comment-formarea{
            display: block;
            width: 90%;
            max-width: 100%;
            min-height: 104px;
            box-sizing: border-box;
            padding: .8em;
            margin: 36px;
            border: 2px solid #aaa;
            border-radius: 1em;
            font-size: 18px;
            }
            .btn-send-comment {
              @include border-color;
              background: $base_fontcolor;
              margin-top: 8px;
              padding: 8px 0 8px 0 ;
              font-size: 18px;
              border-radius: 100px;
              display: inline-block;
              }
            }