.main{
  height: max-content;
  width: 100vw;
  background-color:#d2d2d2;
}

.purchaseBtn {
  width: 110px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  transition: all 1s linear 0s;
  cursor: pointer;
  .purchaseBtn__text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  img.purchaseBtn__icon{
    width: 60%;
  } 
  &:hover {
    transform: rotateY(360deg);
    opacity: 0.6;
  }
}

