.pcHeader {
  padding: 0 60px;
  }
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    }
      .mainHeader {
        position: relative;
        display: flex;
        align-items: center;
        &__icon {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          }
        }
          .image_size_m {
            width: 140px;
            display: block;
            vertical-align: bottom;
            }
        .searchBox {
          margin-left: auto;
          width: 100%;
          }
          .searchBox form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
          }
            .searchBox--input {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
              }
              .button_b2 {
                width: 36px;
                border: 0;
                cursor: pointer;
                background-color: #3CCACE;
                padding: 8px;
                }
                .searchBox__icon{
                  width: 24px;
                  border: 0;
                  cursor: pointer;
                  background-color: #3CCACE;
                  padding: 8px;
                  }
                    .img_b{
                      width: 100%;
                      vertical-align: bottom;
                      }   
      .nav {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        }
        .listsleft {
          position: relative;
          display: flex;
          list-style: none;
          width: 100%;
          &__item {
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            }
          }
            .btm_a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
            list-style: none;
            }
        .listsRight{
          margin-left: auto;
          display: flex;
          list-style: none;
          &__item{
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            }
          }