.newwrapper{
  background:rgb(245, 245, 245);
  height:100vh;
  width:100vw;
  overflow: scroll;
  .newtitle{
    height:100px;
    line-height:100px;
    text-align: center;
    padding-top:3px;
    padding-bottom:10px;
    font-size:40px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }
  .newpagemain{
    background:white;
    width:700px;
    margin:0 auto;
    .singlehead{
      height:97px;
      text-align: center;
      line-height:97px;
      font-size:22px;
      font-weight:bold;
      border-bottom:1px solid rgb(230, 228, 228);
    }
    .sellform{
      background-color: white;
      border-bottom:1px solid rgb(230, 228, 228);
      .sell-upload-box{
        height:300px;
        .upload-box-header{
          height:16px;
          width:540px;
          margin: 0 auto;
          margin-left:50px;
          position:relative;
          top:30px;
          font-weight:bold;
          .require{
            background: #ea352d;;
            color:white;
            font-weight:bold;
            border-radius: 5px;
            height:5px;
            width:10px;
            font-size:15px;
            padding:2px;
            position: relative;
            bottom:2px;
          }
          .upbtext{
            font-weight:normal;
            padding-top:2px;
            padding-top:5px;
            font-size:14px;
          }
        }
        .sell-upload-box-drop{
          background:#f5f5f5;
          height:162px;
          width:620px;
          margin: 0 auto;
          position:relative;
          top:60px;
          border: 1px dashed #ccc;
          display:flex;
          align-items: center;
          justify-content: center;
          .drop-box-text{
            text-align: center;
          }
        }
      }
      
      
    }
    .sellcontent1{
      height:355px;
      border-bottom:1px solid #ccc;
      display:block;
      .sellcontentwrapper1{
        height:70px;
        width:620px;
        margin:0 auto;
        position:relative;
        top:40px;

        .content-title1{
          height:14px;
          width:150px;
          padding-bottom:10px;
          padding-left:10px;
          font-weight:bold;
          font-size:14px;
          .require{
            background: #ea352d;;
            color:white;
            font-weight:bold;
            border-radius: 5px;
            height:5px;
            width:10px;
            font-size:15px;
            padding:2px;
            position: relative;
            bottom:2px;
            left:5px;
          }
         

        }
        .content-text1{
          height:48px;
          width:620px;
          ::placeholder{
            color:red;
          }

        }

      }
      .sellcontentwrapper2{
        height:164px;
        width:620px;
        margin:0 auto;
        position:relative;
        top:90px;
        .content-title2{
          height:14px;
          width:150px;
          padding-bottom:10px;
          padding-left:10px;
          font-weight:bold;
          font-size:14px;
          .require{
            background: #ea352d;;
            color:white;
            font-weight:bold;
            border-radius: 5px;
            height:5px;
            width:10px;
            font-size:14px;
            padding:2px;
            position: relative;
            bottom:2px;
            left:5px;
          }
        }
        .content-text2{
          height:142px;
          width:620px;
          ::placeholder{
            color:red;
          }

        }

      }
      
    }
    .sellcontent-explain{
      height:400px;
      width:700px;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom:1px solid #ccc;
      .sellcontent-explain-left{
        height:80%;
        width:20%;
        position: relative;
        left:-10px;
        .sellcontent-explain-left-title{
          height:14px;
          font-weight:bold;
          font-size:14px;
          color:#888888;
          position: relative;
          left:10px;
        }
      }
      .sellcontent-explain-right{
        height:80%;
        width:60%;
        position: relative;
        .sellcontent-explain-category{
          height:14px;
          width:150px;
          padding-bottom:10px;
          padding-left:10px;
          font-weight:bold;
          font-size:14px;
          padding-bottom:10px;
          position: relative;
          top:30px;
          .require{
            background: #ea352d;;
            color:white;
            font-weight:bold;
            border-radius: 5px;
            height:5px;
            width:10px;
            font-size:15px;
            padding:2px;
            position: relative;
            bottom:2px;
            left:5px;
          }
        }
        .content-explain1{
          height:48px;
          width:400px;
          padding:0px 16px;
          position: relative;
          top:30px;
          margin-bottom:5px;

        }
        .sellcontent-explain-status{
          height:14px;
          width:150px;
          padding-bottom:10px;
          padding-left:10px;
          font-weight:bold;
          font-size:14px;
          position: absolute;
          bottom:50px;
          .require{
            background: #ea352d;;
            color:white;
            font-weight:bold;
            border-radius: 5px;
            height:5px;
            width:10px;
            font-size:15px;
            padding:2px;
            position: relative;
            bottom:2px;
            left:5px;
          }  
        }
        .content-explain2{
          height:48px;
          width:400px;
          padding:0px 16px;
          position: absolute;;
          bottom:0px;
          right:11px;
      }
       }

    }

    .sellcontent-shipping{
      height:371px;
      width:700px;
      display:flex;
      align-items: center;
      justify-content: space-evenly;
      .sellcontent-shipping-left{
        height:80%;
        width:20%;
        .sellcontent-shipping-left-title{
          height:14px;
          font-weight:bold;
          font-size:14px;
          color:#888888;
          position: relative;

        }

      }
      .sellcontent-shipping-right{
        height:80%;
        width:60%;
        position: relative;
        top:20px;
        .sellcontent-shipping-hutan{
          height:30%;
          .sellcontent-shipping-hutan-title{
            height:14px;
            width:150px;
            padding-bottom:10px;
            padding-left:10px;
            font-weight:bold;
            font-size:14px;
            padding-top:10px;
            .require{
              background: #ea352d;;
              color:white;
              font-weight:bold;
              border-radius: 5px;
              height:5px;
              width:10px;
              font-size:15px;
              padding:2px;
              position: relative;
              bottom:2px;
              left:5px;
            }  
          }
          .content-hutan{
            height:48px;
            width:400px;
            padding:0px 16px;
          }
        }
        .sellcontent-shipping-region{
          height:30%;
          .sellcontent-shipping-region-title{
            height:14px;
            width:150px;
            padding-bottom:10px;
            padding-left:10px;
            font-weight:bold;
            font-size:14px;
            padding-top:10px;
            .require{
              background: #ea352d;;
              color:white;
              font-weight:bold;
              border-radius: 5px;
              height:5px;
              width:10px;
              font-size:15px;
              padding:2px;
              position: relative;
              bottom:2px;
              left:5px;
            }  

          }
          .content-region{
            height:48px;
            width:400px;
            padding:0px 16px;
          }
        }
        .sellcontent-shipping-days{
          height:30%;
          .sellcontent-shipping-days-title{
            height:14px;
            width:150px;
            padding-bottom:10px;
            padding-left:10px;
            font-weight:bold;
            font-size:14px;
            padding-top:10px;
            .require{
              background: #ea352d;;
              color:white;
              font-weight:bold;
              border-radius: 5px;
              height:5px;
              width:10px;
              font-size:15px;
              padding:2px;
              position: relative;
              bottom:2px;
              left:5px;
            }  

          }
          .content-days{
            height:48px;
            width:400px;
            padding:0px 16px;
          }
        }
        }
        
      }
      .sellcontent-price{
        height:199px;
        width:700px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .sellcontent-price-left{
          height:80%;
          width:25%;
          .sellcontent-price-left-title{
            height:14px;
            width:150px;
            padding-bottom:10px;
            padding-left:10px;
            font-weight:bold;
            font-size:14px;
            padding-top:10px;
            color:#888888;
          }

        }
        .sellcontent-price-right{
          height:80%;
          width:60%;
          margin-top:10px;
          .sellcontent-price-pricebox{
            height:30%;
            .sellcontent-price-pricebox-title{
              height:14px;
              width:150px;
              padding-bottom:10px;
              padding-left:10px;
              font-weight:bold;
              font-size:14px;
              .require{
                background: #ea352d;;
                color:white;
                font-weight:bold;
                border-radius: 5px;
                height:5px;
                width:10px;
                font-size:15px;
                padding:2px;
                position: relative;
                bottom:2px;
                left:5px;
              }  
            }
           .contentpricebox{
             height:40px;
             width:80px;
             float:right;
             position: relative;
             bottom:20px;
             ::placeholder{
               float:right;

             }
           }

          }
          .sellcontent-price-feebox{
            height:30%;
            .sellcontent-price-feebox-title{
              height:14px;
              width:150px;
              padding-bottom:10px;
              padding-left:10px;
              font-weight:bold;
              font-size:14px;
              
            }

          }
          .sellcontent-price-profitbox{
            height:30%;
            .sellcontent-price-profitbox-title{
              height:14px;
              width:150px;
              padding-bottom:10px;
              padding-left:10px;
              font-weight:bold;
              font-size:14px;
              
            }

          }
        }
      }
      .sellcontent-last{
        height:190px;
        width:700px;
        align-items:center;
        .sellcontent-last-in{
          height:159px;
          width:620px;
          margin:0 auto;
          .sellcontent-last-in-btns{
            height:120px;
            margin-top:10px;
            .inputbtn{
              height:50px;
              width:80%;
              background:red;
              color:white;
              font-size:14px;
              border-radius: 10px;
              position: relative;
              left:65px;
              cursor: pointer;
            }
            .inputbtnreturn{
              height:50px;
              width:100px;
              background:gray;
              color:white;
              font-size:14px;
              border-radius:10px;
              position: relative;
              top:60px;
              right:230px;
              cursor: pointer;
            }

          }
        }

       
      }
      
      
      
    }

    .new-footer{
      height:220px;
      width:100%;
      .new-footer-first ul{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width:700px;
        margin:0 auto;
        margin-top:40px;
        .new-footer-firsts{
          padding-left:40px;
        }
      }
      .new-footer-second{
        width:10%;
        margin:0 auto;
        margin-top:20px;
        text-align: center;

      }
    }
  }


  .hidden{
    visibility: hidden;
  }

  .labelform{
    height:100%;
    width:100%;
    cursor: pointer;
  }
  .hiddenlabeltext{
   width:60%;
   margin:0 auto;
   margin-top:60px;
   cursor: pointer;
  }

  .hidden2{
    display:none;
  }
  