.item--show {
  background-color: $base_background-color;
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  padding-top: 50px;
  text-align: center;
  &--main {
    width: 700px;
    height: max-content;
    background-color: white;
    display: inline-block;
    padding-top: 20px;
    &--title {
      margin-top: 20px;
      font-size: 24px;
      font-weight: bold;
    }
    &--contents {
      margin: 20px 0 40px;
    }

      &__high {
        height: 400px;
        & img {
          width: 200px;
        }
      }
      .item--show--main--content--price{
        margin: 0 auto;
        padding: 20px;
          h2.item-price{
            padding: 10px 0;
            display: inline-block;
      }
    }
    .item--show--main--contents__low {
        .item-show-table {
          width: 80%;
          margin: 0 auto;
          height: 375px;
          border-collapse: collapse;
          padding: 20px;
          & th {
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          & td {
            width: 150px;
            padding: 8px;
            text-align: left;
            border: 1px solid #dedede;
          }
          .item-show-td {
            background-color: $base_background-color;
          }
        }
      }
    }
  }
    .other-content{
      display: flex;
      justify-content: space-between;
      margin: 20px 80px;
      &__like{
        height: 20px;
        width: 100px;
        margin-right: auto;
        border-radius: 40px;
        color: $base_fontcolor;
        border: 1px solid #ffb340;
      }
      &__inappropriate-repot{
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
        }
    }
