-# コメント入力フォーム
.item-detail-message
  .message-container
    .message-conrent
      .message-form
        %p相手のことを考え丁寧なコメントを心がけましょう不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{cols: "50", placeholder: "バンバァ〜", class: "textarea-default"}
        %button.message-submit.btn-default.btn-gray
          コメントする