-# コメント入力フォーム
.item-detail
  .item-detail__message
    .item-detail___message-container
      .item-detail___message-content
        .item-detail__message-form
          %textarea{cols: "50", placeholder: "バンバァ〜", class: "textarea-default"}
          %p.comment-rule 相手のことを考え丁寧なコメントを心がけましょう不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button.message-submit.btn-default.btn-gray
            コメントする