<section class="footer">
<!doctype html>
<ul class="contents_footer">
<li class="content_footer">
  <h2 class="content_footer__head">FUIMAについて</h2>
  <ul>
    <li>
      <a href="http://furima.tokyo/#">会社概要（運営会社）</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">プライバシーポリシー</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">FURIMA利用規約</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">ポイントに関する特約</a>
    </li>
  </ul>
</li>
<li class="content_footer">
  <h2 class="content_footer__head">FURIMAを見る</h2>
  <ul>
    <li>
      <a href="http://furima.tokyo/#">会社概要（運営会社）</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">プライバシーポリシー</a>
    </li>
  </ul>
</li>
<li class="content_footer">
  <h2 class="content_footer__head">ヘルプ＆ガイド</h2>
  <ul>
    <li>
      <a href="http://furima.tokyo/#">FURIMAガイド</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">FURIMAロゴ利用ガイドライン</a>
    </li>
    <li>
      <a href="http://furima.tokyo/#">お知らせ</a>
    </li>
  </ul>
</li>
</ul>
<div class="footer__logo">
  <a href="http://furima.tokyo/"><img src="/logo-white.png"class=FURIMA_img_footer></a>
</div>
  <p>© FURIMA</p>
</div>