<section class="header">
<!doctype html>
<html>
  <head>
    <meta content="text/html; charaset=UTF-8" http-equiv="Content-Type">
      <title>FURIMA</title>
      <meta name="csrf-param" content="authenticity_token">
      <meta name="csrf_token" content="IbSlA8gY9IPjIFROBrFHKefTOqP6PjLCuGTLYiTTWixEJUwo0r+hLdG3Ys3xwXypDKHNE7dKk4rXZuPZeE2EKQ==" >
      <link rel="stylesheet" href="items.css"><!-- cssのファイルの場所を指定 --> 
      
    
    </head>
    <body>
      <header class="pcHeader">
       <div class="headerInner">
         <div class="mainHeader">
          <h1 class="icon">
            <a haef="/">
              <img src="/logo.png"><!--HURIMAアイコン-->
            </a>
            </h1>
        <div class="searchBox">
          <form action="#" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <input class="searchBox--input" id="searchInput" name="key" placeholder="キーワードから探す">
            <button type="submit">
              <div class="searchBox__icon">
                <img src="icon-search 1.png">
              </div>
            </button>
            <!-- <input type="hiden" name="authenticity_token" value="get"> -->
            </form>
          </div>
          <ul class="resltLists"></ul>
        </div>
      <div class="nav">
        <ul class="listsleft">
          <li class="listsleft__item listsleft__item--first">
            <a id="catBtn" href="#">カテゴリー</a>
            <div class="tree displayNone">
              </li>

          <li class="listsLeft__item">
            <a id="brandBtn" href="#">ブランド</a>
            <ul class="brandsPulldown displayNone">
            </ul>
          </li></ul>
        <ul class="listsRight">
          <li class="listsRight__item listsRight__item--login">
            <a href="users/sign_in">ログイン</a>
            </li>
          <li class="listsRight__item listsRight__item--new">
            <a href="users/sign_up">新規会員登録</a>
            </li>
            </ul>
            </section>