!!!
%html
  %body
    %section.header
      %meta{:content => "text/html; charaset=UTF-8", "http-equiv" => "Content-Type"}/
      %title FURIMA
      %meta{:content => "authenticity_token", :name => "csrf-param"}/
      %meta{:content => "IbSlA8gY9IPjIFROBrFHKefTOqP6PjLCuGTLYiTTWixEJUwo0r+hLdG3Ys3xwXypDKHNE7dKk4rXZuPZeE2EKQ==", :name => "csrf_token"}/
      %link{:href => "items.css", :rel => "stylesheet"}/
      / cssのファイルの場所を指定
      %header.pcHeader
        .headerInner
          .mainHeader
            %h1.mainHeader_icon
              %a{:haef => "/"}
                %img.image_size_m{:src => "/logo.png"}/
                / HURIMAアイコン
            .searchBox
              %form.from_a{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
                %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                %input#searchInput.searchBox--input{:name => "key", :placeholder => "キーワードから探す"}/
                %button{:type => "submit"}
                  .searchBox__icon
                    %img.img_b{:src => "icon-search 1.png"}/
                / <input type="hiden" name="authenticity_token" value="get">
            %ul.resltLists
          .nav
            %ul.listsleft
              %li.listsleft__item.listsleft__item--first
                #catBtn.btm_a{:href => "#"} カテゴリー
                .tree.displayNone
                  %li.listsLeft__item
                    #brandBtn.btm_a{:href => "#"} ブランド
                    %ul.brandsPulldown.displayNone
                  %ul.listsRight
                    %li.listsRight__item.listsRight__item--login
                      = link_to "ログイン", new_user_session_path, class: "btm_a"
                    %li.listsRight__item.listsRight__item--new
                      = link_to "新規会員登録", new_user_registration_path, class: "btm_a"
