<section class="mainVisual">
  <div class="content">
    <h2 class="content_subtitle">人生を変えるフリマアプリ</h2>
    <p class="content_text"></p>
    <div class="content_btn"></div>
  </div>
  <div class="picture">
</section>