<section class="topKeyFeatures">
  <h2 class="head">
    FURIMAの特徴
  </h2>


  <div class="items">
    <section class="item">
      <figure class="item__image">
        <img src="/aseets/icon-">
      </figure>
      <h3>簡単に売り買いできる</h3>
      <p class="item__detail">
      スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      </p>
    </section>

  <section class="item">
    <figure class="item__image">
      <img src="/aseets/icon-">
    </figure>
      <h3>売上金は即日振り込みに対応</h3>
      <p class="item__detail">
      午前９時までに振込を依頼いただければ、翌日に指定の講座に入金いたします！
      </p>
  </section>

  <section class="item">
    <figure class="item__image">
    <img src="/aseets/icon-">
    </figure>
      <h3>様々な支払いに対応</h3>
      <p class="item__detail">
      お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      </p>
  </section>
</div>
</section>

<section class="pickupCountainer">
<h2 class="head">ピックアップカテゴリー</h2>
<div class="poductBox">
<div class="productHead">
<a href="#">
</div>
</div>

</section>
</div>