.login--user--modal
  .new--user--select
    .new--user--select--contents
      %p.close-button ×
      .new--user--select--content
        = link_to new_user_session_path ,class:"session-link" do
          %i.fas.fa-envelope.email &emsp;メールアドレスでログイン
      .new--user--select--content#google
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post ,class:"session-link" do
          %i.fab.fa-google.google &emsp;googleでログイン
      .new--user--select--content#facebook
        = link_to  user_facebook_omniauth_authorize_path, method: :post ,class:"session-link" do
          %i.fab.fa-facebook-square.facebook &emsp;Facebookでログイン