= link_to new_item_order_path do
  .item-buy-btm
    購入画面に進む
.item-button-container
  %button.item-button-left.item-button-like.item-button
    いいね！
  %button.item-button-right.item-button-like.item-button
    不適切な商品の報告
  