<section class="topIntroduction">
  <h2 class ="subtitle">
    FURIMAが選ばれる3つの理由
    <div class = "unko"></div>
  </h2>
  <ul class="lists">
    <li class ="list">
      <div class="list_pict">
        <span class="number">1</span>
        <img src ="pict-reason-01.jpg">
      </div>
      <h3 class="list_text"><span>3分</span>ですぐに出品</h3>
      <p class="list_description">スマホで入力するだけで簡単に出品できる！</p>
    </li>
    <li class ="list">
      <div class="list_pict">
        <span class="number">2</span>
        <img src ="pict-reason-02.jpg">
      </div>
      <h3 class="list_text"><span>シンプル</span>で使いやすい</h3>
      <p class="list_description">めんどくさい入力は必要なく、検索もスムーズ！</p>
    </li>
    <li class ="list list--last">
      <div class="list_pict">
        <span class="number">3</span>
        <img src ="pict-reason-03.jpg">
      </div>
      <h3 class="list_text">手数料<span>業界最安</span></h3>
      <p class="list_description">最大3%でお得に出品&購入！</p>
    </li>
  </ul>
</section>