%section.topIntroduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
    .unko
  %ul.lists
    %li.list
      .list_pict
        %span.number 1
        %img.intro{:src => "pict-reason-01.jpg"}/
      %h3.list_text
        %span> 3分
        ですぐに出品
      %p.list_description スマホで入力するだけで簡単に出品できる！
    %li.list
      .list_pict
        %span.number 2
        %img.intro{:src => "pict-reason-02.jpg"}/
      %h3.list_text
        %span> シンプル
        で使いやすい
      %p.list_description めんどくさい入力は必要なく、検索もスムーズ！
    %li.list.list--last
      .list_pict
        %span.number 3
        %img.intro{:src => "pict-reason-03.jpg"}/
      %h3.list_text
        手数料
        %span 業界最安
      %p.list_description 最大3%でお得に出品&amp;購入！
