%section.topIntroduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
    .under-line
  %ul.lists
    %li.list
      .list_pict
        %span.number 1
        =image_tag "/pict-reason-01.jpg", class: "intro"
      %h3.list_text
        %span.text> 3分
        ですぐに出品
      %p.list_description スマホで入力するだけで簡単に出品できる！
    %li.list
      .list_pict
        %span.number 2
        =image_tag "/pict-reason-02.jpg", class: "intro"
      %h3.list_text
        %span.text> シンプル
        で使いやすい
      %p.list_description めんどくさい入力は必要なく、検索もスムーズ！
    %li.list.list--last
      .list_pict
        %span.number 3
        =image_tag "/pict-reason-03.jpg", class: "intro"
      %h3.list_text
        手数料
        %span.text 業界最安
      %p.list_description 最大3%でお得に出品&amp;購入！
