<div class = "newwrapper">
    <div class = "newtitle">
    mercari
    </div>

    <div class = "newpagemain">
    
        <div class = "singlehead">
        商品の情報を入力
        </div>

        <div class = "sellform">
            <div class = "sell-upload-box">
                <div class = "upload-box-header">
                    出品画像　<span class = "require">必須</span>
                   <p class = "upbtext">最大10枚までアップロードできます</p>
                </div>
                <div class = "sell-upload-box-drop">
                    <div class = "drop-box-text">
                    <p>ドラッグアンドドロップ<br>
                   またはクリックしてファイルをアップロード </p>
                    </div>
                </div>
            </div>
        </div>

        <div class = "sellcontent">
           <div class = "sellcontentwrapper1">
                <div class = "content-title1">商品名<span class = "require">必須</span></div>
                <input type = "text" class = "content-text1" placeholder = "商品名 (必須40文字まで)">
           </div>
            <div class = "sellcontentwrapper2">
                <div class = "content-title2">商品の説明<span class="require">必須</span></div>
                <input type = "textarea" class = "content-text2" placeholder = "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など&#13;&#10;2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでお進めです。">
            </div>
        </div>


    </div>

    <div class = "newfooter">
    </div>
</div>
