$base_fontcolor:#3CCACE;
$base_background-color:#d2d2d2;
h1,h2{
  font-size: 26px;
  font-weight: bold;
}

li{
  list-style: none;
}

.under-line{
  margin:0 auto;
  height:4px;
  width:70px;
  background-color:#3CCACE;
  }

  .content_btn{
    display: flex;
    margin: 24px 0 0 0;
  }
    .Btn{
      width: 180px;
      padding-right: 10px;
      &:hover{
        opacity: 0.6;
      }
    } 
  

//       .gBtn {
//         width: 180px;
//         &:hover{
//           opacity: 0.6;
//         }
//       }
//     }
//  }
// }
// img.app{
//   width:100%;
//   &:hover{
//     opacity: 0.6;
//   }
// }
