$base_fontcolor:#3CCACE;
$base_background-color:#d2d2d2;
h1,h2{
  font-size: 26px;
  font-weight: bold;
}

li{
  list-style: none;
}

.under-line{
  margin:0 auto;
  height:4px;
  width:70px;
  background-color:#3CCACE;
  }
