.pcHeader {
  padding: 0 60px;
  }
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    }
      .mainHeader {
        position: relative;
        display: flex;
        align-items: center;
        }
        .icon {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          }
          .icon a {
            width: 140px;
            display: block;
            }
            img {
              width: 100%;
              vertical-align: bottom;
              }
        .searchBox {
          margin-left: auto;
          width: 100%;
          }
          .searchBox form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            }
            form {
              width: 100%;
              /* display: flex; */
              margin-bottom: 5px;
              }
              input {
                width: calc(100% - 26px);
                height: 36px;
                padding: 0 0 0 5px;
                }
              button {
                width: 36px;
                border: 0;
                cursor: pointer;
                background-color: #3CCACE;
                padding: 8px;
                } 
      .nav {
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
        }
        .listsleft {
          position: relative;
          display: flex;
          list-style: none;
          }
          .listsLeft__item {
            display: flex;
            line-height: 38px;
            padding: 0 0 0 16px;
            }
            a {
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
              }

        .listsRight{
          margin-left: auto;
          display: flex;
          list-style: none;
          }
          .listsRight__item{
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            }
          .listsRight__item {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            }