.mainVisual{
  height: 560px;
  width: 100%;
  background-image:url();
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
}