.mainVisual{
  height: 560px;
  width: 100%;
  background:url("material/pict/bg-mainVisual-pict_pc.jpg") no-repeat;
  background-size:cover;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: center;
  .content{
    width: 100%;
    margin: 0 auto;
    padding-left: 35px;

    .content_subtitle{
      font-size: 60px;
      color:#fff;
      line-height: 1.2;
      display: block;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }

    .content_text{
      font-size: 18px;
      color: #fff;
      margin:  16px 0 0 0 ;
      display: block;
      line-height: 1.77778;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }

    .content_btn{
      display: flex;
      margin: 24px 0 0 0;

      .aBtn{
        width: 180px;
        margin-right: 10px;
      } 
      .gBtn {
        width: 180px;
      }

    }

 }
}
img.app{
  width:100%;
}
