.item-buy-btm{
  display: block;
  margin-top: 16px;
  background: #ea352d;
  font-size: 14px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}