.topKeyFeatures {
  background-color: white;
  text-align: center;
  margin: 0 0 40px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;}

  h2.head {
    text-align: center;
    margin: 0 0 40px;
    margin-top: 25px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    }

  .items{
    max-width: calc(1020px + 20px);
    width: 70%;
    margin: 0 auto;
    display: flex;
    
    &__section-item{
      max-width: calc(0.3 * 100%);
      flex-direction: column;
      text-align: center;
      padding: 0 20px;
      img.top-icon{
        margin: 0 auto;
        line-height: 120px;
        width: 100%;
        text-align: center;
        padding: 0 20px;
        width: 70%;
        }
h3.item__subtitle{
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
}

p.item__detail{
  margin: 0 0 40px;
  font-size: 17px;
  text-align: left;
}
}
}

h3.title{
  display: block;
  font-size: 1.17em;
  text-decoration: none;
}
p.item{
  margin: 0 0 40px;
  text-align: left;
  font-weight: bold;
}

section.pickupCountainer{ 
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}
.productBox{
  text-align: center;
}
section.pickupContainer{
  background-color: #f8f8f8;
}
section.appBanner{
  background-image: url("material/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 100px 40px;
}
.inner{
  color: #fff;
  text-align: center;}
    h2.innner__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;}
    p.inner__text{
      font-size: 35px;}
  .inner__icon{
    margin-top: 10px;}
