.section.topKeyFeatures {
  text-align: center;

}

.h2.head{
}
 
.div.items{
  display: flex;
  justify-content: space-around;
}
.section-item {
}
.figure-item__image {
}


.h3{
}
.p.item__detail{
}
.section.pickupCountainer{

}
.h2{

}
.div-poductBox{

}
